{% extends 'layout/index.html' %}

{% block title %} Register {% endblock %}

{% block body %}
  {% if msg %}
    <div>
      <p>{{ msg }}</p>
    </div>
  {% endif %}

  <h1>Register Here</h1>

  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
  </form>
{% endblock%}